{% extends 'base.html' %}

{% block content %}
  {% comment %}First Featured Article{% endcomment %}
  {% for featured_post in featured_posts %}
    {% if forloop.first %}
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="
          background-image: url( {{ featured_post.featured_image.url }} );
          background-blend-mode: overlay;
          background-size: cover;
        ">
        <div class="col-md-8 px-0">
          <h1 class="display-4 font-italic">{{ featured_post.title }}</h1>
          <p class="lead my-3">{{ featured_post.short_description|truncatewords:30 }}</p>
          <p class="lead mb-0">
            <a href="{% url 'single_post_view' featured_post.category featured_post.slug %}" class="text-white font-weight-bold">Continue reading...</a>
          </p>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% comment %}Another Feature Articles{% endcomment %}
  <h3 class="text-center text-uppercase text-warning p-3 mb-4 rounded" style="background: linear-gradient(90deg, #343a40, #495057); border: 2px solid #ffc107; box-shadow: 0 4px 15px rgba(0,0,0,0.3);">Featured Articles</h3>
  <div class="row mb-2">
    {% for featured_post in featured_posts %}
      {% if not forloop.first %}
        <div class="col-md-6" href="#">
          <div class="card border-0">
            <div class="card-body">
              {% if featured_post.featured_image %}
                <img src="{{ featured_post.featured_image.url }}" class="card-img-top mb-3" style="height:300px; object-fit:cover;" />
              {% endif %}
              <h3><a href="{% url 'single_post_view' featured_post.category featured_post.slug %}" class="text-dark">{{ featured_post.title }}</a></h3>
              <small class="mb-1 text-muted">{{ featured_post.created_at }} | {{ featured_post.created_at|timesince }} ago | <a href="{% url 'view_user_profile' featured_post.author %}" class="text-muted">{{ featured_post.author }}</a></small>
              <p class="card-text">{{ featured_post.short_description|truncatewords:30 }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% comment %}Recent Articles{% endcomment %}
  <h3 class="text-center text-uppercase text-warning p-3 mb-4 rounded" style="background: linear-gradient(90deg, #343a40, #495057); border: 2px solid #ffc107; box-shadow: 0 4px 15px rgba(0,0,0,0.3);">Recent Articles</h3>
  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">
        {% for recent_post in recent_posts %}
          <div class="card border-0">
            <div class="card-body">
              {% if recent_post.featured_image %}
                <img src="{{ recent_post.featured_image.url }}" class="card-img-top mb-3" style="height:300px; object-fit:cover;" />
              {% endif %}
              <h3><a href="{% url 'single_post_view' recent_post.category recent_post.slug %}" class="text-dark">{{ recent_post.title }}</a></h3>
              <strong class="d-inline-block mb-2 text-primary">{{ recent_post.category }}</strong> |
              <small class="mb-1 text-muted">{{ recent_post.created_at }} | {{ recent_post.created_at|timesince }} ago | <a href="{% url 'view_user_profile' recent_post.author %}" class="text-muted">{{ recent_post.author }}</a></small>
              <p class="card-text">{{ recent_post.short_description|truncatewords:30 }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">{{ about.title }}</h4>
          <p class="mb-0">{{ about.description }}</p>
        </div>

        {% if social_links %}
          <div class="p-3">
            <h4 class="font-italic">Follow Us</h4>
            <ol class="list-unstyled">
              {% for social_link in social_links %}
                <li>
                  <a href="{{ social_link.url }}">{{ social_link.platform_name }}</a>
                </li>
              {% endfor %}
            </ol>
          </div>
        {% endif %}
      </aside>
      <!-- /.blog-sidebar -->
    </div>
    <!-- /.row -->
  </main>
{% endblock %}
